.card-listing {
	display: grid;
	column-gap: 10px;
	row-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(2, 10rem);
	padding: .5rem;
}

.card:first-child{
	grid-column-start: 1;
	grid-column-end: 3;
}

.card {
	background-color: #fcfae1;
	font-family: Verdana, Helvetica, sans-serif;
	padding: 1rem;
}

.card h3 {
	color: #ba0722;
	margin: 0;
}

.card p {
	margin: 0;
}