.services-listing {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 8rem);
	justify-items: end;
	align-items: center;
	font-style: italic;
}

.service {
	background-color: #e3fae9;
	padding: .5rem;
}

.service p {
	margin: 0;
}