body {
	margin: 0;
}

.page-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
	background-color: #dbbff5;
	font-family: 'Segoe UI', Helvetica, sans-serif;
	padding: 1rem;
}


.page-footer p {
    order: 1;
	margin: 0;
}

.page-footer ul {
	margin: 0;
	padding: 0;
}

.page-footer li {
	list-style: none;
}

.page-footer a {
	color: #8700ff;
	text-decoration: none;
}